---
import { tv } from "tailwind-variants";
import GridBackground from "@/components/grid-background.astro";
import Hero from "@/components/hero/hero.astro";
import SectionContent from "@/components/section/section.content.astro";
import SectionImage from "@/components/section/section.image.astro";
import SectionMain from "@/components/section/section.main.astro";
import Section from "@/components/section/section.root.astro";
import SectionTitle from "@/components/section/section.title.astro";
import WorksGrid from "@/components/works-grid.astro";
import { readIndexPage } from "@/data/pages";
// import { IndexForm } from "./_index.form";
import Layout from "./_layout.astro";

// STYLES ----------------------------------------------------------------------------------------------------------------------------------
export const QUOTE = tv({
  slots: {
    author: `text-lg font-black text-neutral-500
    sm:text-xl
    md:text-2xl
    2xl:text-3xl`,
    base: `relative px-4 py-8
    sm:px-8
    md:py-20`,
    content: `relative flex flex-col items-center gap-4
    sm:gap-8`,
    sentence: `font-heading font-bold text-3xl text-center
    sm:text-5xl
    md:text-6xl
    2xl:text-7xl`,
  },
})();

// DATA ------------------------------------------------------------------------------------------------------------------------------------
const { contact, hero, quote, works } = await readIndexPage();
---

<Layout>
  <Hero {...hero} image={hero.image} class={{ aside: "flex" }}>
    {hero.content}
  </Hero>
  <Section class={{ base: "lg:-mt-20" }} intent="secondary">
    <SectionMain>
      <SectionTitle intent="secondary" title={works.title} />
      <WorksGrid works={works.items} />
    </SectionMain>
  </Section>
  <section class={QUOTE.base()}>
    <GridBackground />
    <div class={QUOTE.content()}>
      <h3 class={QUOTE.sentence()}>{quote.sentence}</h3>
      <h4 class={QUOTE.author()}>{quote.author}</h4>
    </div>
  </section>
  <Section id="contact" intent="primary">
    <SectionImage image={contact.image} reverse />
    <SectionMain>
      <SectionTitle title={contact.title} />
      <SectionContent>{contact.content}</SectionContent>
      <!-- <IndexForm client:visible /> -->
    </SectionMain>
  </Section>
</Layout>
